<div class="page-content">
  <div class="container-fluid">

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
          <h4 class="mb-0">View Request</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Konsult</a></li>
              <li class="breadcrumb-item active">Requests</li>
            </ol>
          </div>

        </div>
      </div>
    </div>
    <!-- end page title -->


    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row ml-0 mr-0  mb-10">
              <div class="col-sm-12 col-md-6">
              </div>

              <div class="col-sm-12 col-md-6">
                <div class="dropdown d-block">
                  <a routerLink="../" (click)="onReopen()" *ngIf="request.status === 'Replied'">
                    <button class="btn btn-primary waves-effect waves-light float-right ml-2">
                      Re-open Request
                    </button>
                  </a>
                  <a routerLink="../">
                    <button type="button" class="btn btn-primary add-btn waves-effect waves-light float-right">
                      Back
                    </button>
                  </a>
                </div>
              </div>

            </div>
            <!-- Begin Table 1 -->
            <div class="table-responsive table-shoot">

              <table class="table table-centered table-nowrap mb-0">
                <tbody>
                  <tr>
                    <td width="20%"><b>Name</b></td>
                    <td>{{ request.clientName }}</td>
                  </tr>

                  <tr>
                    <td><b>Requested On</b></td>
                    <td>{{ request.requestedOn }}</td>
                  </tr>

                  <tr>
                    <td><b>Request</b></td>
                    <td>{{ request.requestText }}</td>
                  </tr>

                  <tr>
                    <td style="vertical-align:top !important;"><b>Video</b></td>
                    <td style="vertical-align:top !important;">
                      <div class="answer-video">
                        <video width="100%" height="100%" controls muted>
                          <source [src]="request.requestVideo" type="video/mp4">
                          <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td><b>Attachment</b></td>
                    <td><a [href]="obj.link" style="cursor: pointer;" *ngFor="let obj of request.attachments">{{ obj.fileName }}</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--End of Table 1 -->

            <!-- end table-responsive -->
          </div>
        </div>
      </div>


      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">

            <!-- Begin Table 1 -->
            <div class="table-responsive table-shoot">

              <table class="table table-centered table-nowrap mb-0">
                <tbody>

                  <tr>
                    <td width="20%" style="vertical-align:top !important;">	<h4 class="answer">My Answer</h4></td>
                  </tr>

                  <tr>
                    <td><b>Message</b></td>
                    <td>{{ request.answerText }}</td>
                  </tr>

                  <tr>
                    <td style="vertical-align:top !important;"><b>Video</b></td>
                    <td style="vertical-align:top !important;">
                      <div class="answer-video">
                        <video #video width="100%" height="100%" controls>
                          <!-- <source [src]="request.answerVideo" type="video/mp4">
                          <source src="movie.ogg" type="video/ogg">
                          Your browser does not support the video tag. -->
                        </video>
                      </div>
                    </td>
                  </tr>


                </tbody>
              </table>

            </div>
            <!--End of Table 1 -->

            <!-- end table-responsive -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->
